* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input {
    width: auto !important;
    height: auto !important;
    border-radius: 0% !important;
  }
  
fieldset {
    width: 50%;
}

.category-no-fontfamily {
    align-items: center;
    font-family: Montserrat !important;
}