.footer-button {
  padding-top: 16px;
  padding-bottom: 16px;
  width: 100%;
  text-align: center;
  background-color: black;
  border: none;
  outline: none;
  font-family: "Calibri", Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-weight: bolder;
  font-size: 18px;
  color: white;
}

.footer-button:hover {
  background-color: #282828;
  cursor: pointer;
}

.footer-container {
  background-color: goldenrod;
  display: flex;
  justify-content: center;
}

.footer-column {
  min-width: 175px;
  font-family: "Calibri", Arial, Helvetica, sans-serif;
  padding-bottom: 10px;
  width: 12.5%;
  display: block !important;
}

.footer-column ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  
}

.footer-column ul li {
  padding-bottom: 5px;
}

.footer-column ul li a {
  color: black;
  text-decoration: none;
}

.footer-column ul li a:hover {
  text-decoration: underline;
}