.hln-input {
    width: auto !important;
    height: auto !important;
    border-radius: 0% !important;
}

.hln-link {
    color: dodgerblue;
}

.hln-fieldset {
    width: 50%;
}

.hln-background {
    background-color: aliceblue;
}

.hln-logo {
    border-radius: 30%;
}

.hln-logo-sm {
    border-radius: 20%;
}

#toTopButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: none;
    outline: none;
    background-color: #daa520;
    color: #FFFFFF;
    cursor: pointer;
    padding: 15px;
}

#toTopButton:hover {
    background-color: #cab88b;
}